@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body{
    background: #f0f0f0;
}


.root-carrinho{
    padding-top: 65px;
    width: 100vw;
    display: grid;
    grid-template-columns: 60% 35%;
    /*align-items: center;*/
    /*justify-content: center;*/
}


.box-resumoNumberItens{
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.title-resumoNumberItens{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    color: #222;
    font-weight: 700;
    font-size: 24px;
}

.selecionar-exclir-todosProdutos{
    display: flex;
    flex-direction: row;
}

.input-todosItens{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-todosItens span{
    margin-left: 7px;
}

.tirar-tudo-carrinho{
    margin-left: 35px;
    color: #0ca7db;
    font-weight: 700;
}

/*produtos*/
.container-itens{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin: 20px;
    padding: 20px;
}

.container-produtosCarrinho{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.produtos{
    width: 100%;
    display: flex;
    padding: 20px;
}

.box-left-produtos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-right-produtos{
    width: 85%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nome-produto-carrinho{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 19px;
    margin-bottom: 20px;
}

.nome-produto-carrinho a{
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}

.preco-produto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.quantidade-produto{
    display: flex;
    flex-direction: row;
}

.box-inputNumeroProduto{
    margin: 0px 10px;
}

.input-numero-produto{
    width: 2rem;
    text-align: center;
    border: none;
 }


 /*==== Resumo da compra ====*/
.container-right{
    height: 18rem;
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.resumo-compras{
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumo-compras .title-resumo-compras{
    font-size: 27px;
    font-weight: 700;
}

.box-subtotal, .box-frete{
    width: 100%;
    font-weight: 600; 
    cursor: default; 
    display: flex;
    margin-top: 16px;
}

.box-totalEstimado{
    font-weight: 900; 
    cursor: default; 
    display: flex;
    margin-top: 16px;
}

.label-resumo-compras{
    width: 50%;
    font-size: 17px;
}

.valor-subtotal, .valor-frete, .valor-totalEstimado{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.valor-subtotal span, .valor-frete span{
    padding: 0px 2px; 
    font-size: 14px; 
    color: rgb(51, 51, 51);
}

.valor-totalEstimado span{
    padding: 0px 2px; 
    font-size: 22px; 
    color: rgb(51, 51, 51);
}

.box-btnFinalizarCompra{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.btn-finalizarCompra{
    width: 18rem;
    background-color: #add8e6;
    border-radius: 15px;
    border: none;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 700;
    color: #4e4e4e;
    transition: .2s;
}

.btn-finalizarCompra:hover{
    background-color: #91c5d6;
    color: #3f3f3f;
    cursor: pointer;
    transform: scale(1.05);
}

.btn-finalizarCompra:active{
    background-color: #c5e5f0;
    color: #a5a5a5;
}